In [1]:
#Introduction
todo = ["Pick up laundry", "buy Groceries", "pay electric bills"]
todo

['Pick up laundry', 'buy Groceries', 'pay electric bills']

In [5]:
User = {
    "first_name": "Jack",
    "last_name": "White",
    "age": 41,
    "email": "jack.white@gmail.com"
}

In [7]:
#Exercise 21: Working with Python Lists
shopping = ["bread", "milk", "eggs"]
for item in shopping:
    print(item)

bread
milk
eggs

In [8]:
mixed = [365, "days", True]
print(mixed)

[365, 'days', True]

In [9]:
#Exercise 22: Using a Nested list to Store data from Matrix
m = [[1, 2, 3], [4, 5, 6]]
print(m[1][1])

5

In [10]:
for i in range(len(m)):
    for j in range(len(m[i])):
        print(m[i][j])

1
2
3
4
5
6

In [13]:
for i in m:
    for j in i:
        print(j)

1
2
3
4
5
6

In [15]:
#Activity 6: Using a nested List to Store Employee Data
employees = [['John Mckee', 38, 'Sales'],
             ['Lisa Crawford', 29, 'Marketing'],
             ['Sujan Patel', 33, 'HR']]
for employee in employees:
    print('Name:', employee[0])
    print('Age:', employee[1])
    print('Department:', employee[2])
    print('-' * 20)

Name: John Mckee
Age: 38
Department: Sales
--------------------
Name: Lisa Crawford
Age: 29
Department: Marketing
--------------------
Name: Sujan Patel
Age: 33
Department: HR
--------------------

In [17]:
employee = employees[1]
print(employee)
print('Name:', employee[0])
print('Age:', employee[1])
print('Department:', employee[2])
print('-' * 20)

['Lisa Crawford', 29, 'Marketing']
Name: Lisa Crawford
Age: 29
Department: Marketing
--------------------

In [3]:
#Exercise 23 : Implementing Matrix Operations (Addition and Substraction)
X = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]
Y = [[10, 11, 12],
     [13, 14, 15],
     [16, 17, 18]]
# Initiate a result placeholder
result = [[0, 0, 0],
          [0, 0, 0],
          [0, 0, 0]]
#Iterate through rows
for i in range(len(X)):
#Iterate through colums
    for j in range(len(X[0])):
        result[i][j] = X[i][j] + Y[i][j]
        
print(result)

[[11, 13, 15], [17, 19, 21], [23, 25, 27]]

In [2]:
Y = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]
X = [[10, 11, 12],
     [13, 14, 15],
     [16, 17, 18]]
# Initiate a result placeholder
result = [[0, 0, 0],
          [0, 0, 0],
          [0, 0, 0]]
#Iterate through rows
for i in range(len(X)):
#Iterate through colums
    for j in range(len(X[0])):
        result[i][j] = X[i][j] - Y[i][j]
        
print(result)

[[9, 9, 9], [9, 9, 9], [9, 9, 9]]

In [5]:
#Exercise 24 : Implementing Matrix Operations (Multiplication)
X = [[1, 2],
     [4, 5],
     [3, 6]]
Y = [[1, 2, 3, 4],
     [5, 6, 7, 8]]
result = [[0, 0, 0, 0],
          [0, 0, 0, 0],
          [0, 0, 0, 0]]

#iterating by row of X
for i in range(len(X)):
    
    #iterating by column of Y
    for j in range(len(Y[0])):
    
        #iterate by rows of Y
        for k in range(len(Y)):
            result[i][j] += X[i][k] * Y[k][j]
            
for r in result:
    print(r)

[11, 14, 17, 20]
[29, 38, 47, 56]
[33, 42, 51, 60]

In [6]:
#Exercise 25 : Basic List Operations
shopping = ["bread", "milk", "eggs"]
print(len(shopping))

3

In [8]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
final_list = list1 + list2
print(final_list * 3)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [9]:
list3 = ['oi']
print(list3 * 3)

['oi', 'oi', 'oi']

In [10]:
print(shopping[1])

milk

In [11]:
shopping[1] = "banana"
print(shopping)

['bread', 'banana', 'eggs']

In [12]:
print(shopping[:2])

['bread', 'banana']

In [13]:
#Exercise 27 : Adding Items to List
shopping.append("apple")
print(shopping)

['bread', 'banana', 'eggs', 'apple']

In [14]:
shopping.insert(2, "ham")
print(shopping)

['bread', 'banana', 'ham', 'eggs', 'apple']

In [15]:
employee = {
  'name': "Jack Nelson",
  'age': 32,
  'department': "sales"
}
print(employee)

{'name': 'Jack Nelson', 'age': 32, 'department': 'sales'}

In [16]:
#Exercise 28 : Using a Dictionary to Store a Movie Record
movie = {
  "title": "The Godfather",
  "director": "Francis Ford Coppola",
  "year": 1972,
  "rating": 9.2
}
print(movie['year'])

1972

In [17]:
movie['rating'] = (movie['rating'] + 9.3) / 2
print(movie['rating'])

9.25

In [19]:
movie = {}
movie['title'] = 'The Godfather'
movie['director'] = 'Francis Ford Coppola'
movie['year'] = 1972
movie['rating'] = 9.2
movie['actors'] = ['Marlon Brando', 'Al Pacino', 'James Caan']
movie['other_details'] = {
    'runtime' : 175,
    'language': 'English'
}

for r in movie:
    print(r)

title
director
year
rating
actors
other_details

In [1]:
# Dictionary keys and values
employee = {
    'name': 'Jack Nelson',
    'age': 32,
    'department': "sales"
}
print(employee)

{'name': 'Jack Nelson', 'age': 32, 'department': 'sales'}

#Exercise 28 : Using a Dictionary to Store a Movie Record

In [4]:
#Exercise 28 : Using a Dictionary to Store a Movie Record
movie = {
    "title" : "The Godfather",
    "director" : "Francis Ford Coppola",
    "year" : 1972,
    "rating" : 9.2
}
print(movie["year"])

1972

In [5]:
movie['rating'] = (movie['rating'] + 9.3) / 2
print(movie['rating'])

9.25

In [6]:
mv = {}
mv['title'] = "The Godfather"
mv['director'] = "Francis Coppola"
mv['year'] = 1972
mv['rating'] = 9.2
mv['actors'] = ['Marlon Brando', 'Al Pacino', 'James Caan']
mv['other_details'] = {
    'runtime' : 175,
    'language' : 'English'
}
print(mv)

{'title': 'The Godfather', 'director': 'Francis Coppola', 'year': 1972, 'rating': 9.2, 'actors': ['Marlon Brando', 'Al Pacino', 'James Caan'], 'other_details': {'runtime': 175, 'language': 'English'}}

In [10]:
#Activity 7 : Storing company Employee Table Data Using a List and a Dictionary
employees = [{
    'Name' : 'John Mckee',
    'Age' : 38,
    'Department' : 'Sales'
},
    {
    'Name' : 'Lisa Crawford',
    'Age' : 29,
    'Department' : 'Marketing'
},
{
    'Name' : 'Sujan Patel',
    'Age' : 33,
    'Department' : 'HR'
}
]

for emp in employees :
    print('Name: ', emp['Name'])
    print('Age : ', emp['Age'])
    print('Department : ', emp['Department'])
    print('------------------------')
    

for emp in employees :
    if emp['Name'] == 'Sujan Patel':
        print('Name: ', emp['Name'])
        print('Age : ', emp['Age'])
        print('Department : ', emp['Department'])
        print('------------------------')

Name:  John Mckee
Age :  38
Department :  Sales
------------------------
Name:  Lisa Crawford
Age :  29
Department :  Marketing
------------------------
Name:  Sujan Patel
Age :  33
Department :  HR
------------------------
Name:  Sujan Patel
Age :  33
Department :  HR
------------------------

In [18]:
#Exercise 29: Using the zip method to manipulate Dictionaries
items = ['apple', 'orange', 'banana']
quantity = [5, 3, 2]
orders = zip(items, quantity)
#print(list(orders))

#orders_list = list(orders)
#print(orders_list)
orders_tuples = tuple(orders)
print(orders_tuples)
#orders_dict = dict(orders)
#print(orders_dict)

(('apple', 5), ('orange', 3), ('banana', 2))

In [21]:
#Exercise 30 : Accessing a Dictionary Using Dict Methods
orders = {'apple' : 5, 'orange' : 3, 'banana' : 2}
print(orders.values())
print(list(orders.values()))
print(list(orders.keys()))

dict_values([5, 3, 2])
[5, 3, 2]
['apple', 'orange', 'banana']

In [22]:
for tuple in list(orders.items()):
    print(tuple)

('apple', 5)
('orange', 3)
('banana', 2)

In [23]:
#Tuple
weekdays_tuple = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
print(weekdays_tuple)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [2]:
#Exercise 31 : Exploring Tuple Properties in Our Shopping List
t = ('bread', 'milk', 'eggs')
print(len(t))

3

In [7]:
#new_t = t + ('apple', 'orange')
print(t + ('apple', 'orange'))
print(t)

('bread', 'milk', 'eggs', 'apple', 'orange')
('bread', 'milk', 'eggs')

In [11]:
t_mixed = 'apple', True, 3
print(t_mixed)
t_shopping = ('apple', 3), ('orange', 2), ('banana', 5)
print(t_shopping)
print(t_shopping[0][0])

('apple', True, 3)
(('apple', 3), ('orange', 2), ('banana', 5))
apple

In [15]:
#Using Sets in Python
s1 = set([1,2,3,4,5,6])
print(s1)
s2 = set([1,2,2,3,4,4,5,6,6])
print(s2)
s3 = set([3,4,5,6,6,6,1,1,2])
print(s3)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [16]:
s4 = {"apple", "orange", "banana"}
print(s4)

{'banana', 'orange', 'apple'}

In [23]:
s4.add('pineapple')
print(s4)

{'banana', 'orange', 'pineapple', 'apple'}

In [25]:
if 'pineapple' > 'banana':
    print('Yes')
print('No')

Yes
No

In [27]:
s5 = {1,2,3,4}
s6 = {3,4,5,6}
print(s5 | s6)
print(s5.union(s6))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [28]:
print(s5 & s6)
print(s5.intersection(s6))

{3, 4}
{3, 4}

In [29]:
print(s5 - s6)
print(s5.difference(s6))

{1, 2}
{1, 2}

In [30]:
print(s5 <= s6)
print(s5.issubset(s6))
s7 = {1,2,3}
s8 = {1,2,3,4,5}
print(s7 <= s8)
print(s7.issubset(s8))

False
False
True
True

In [31]:
print(s7 < s8)

True

In [32]:
s9 = {1,2,3}
s10 = {1,2,3}
print(s9 < s10)
print(s9 < s9)

False
False

In [33]:
print(s8 >= s7)
print(s8.issuperset(s7))
print(s8 > s7)
print(s8 > s8)

True
True
True
False